<ion-header>
  <ion-toolbar>
    <ion-title>
      REGISTRO
      <ion-button color="primary" href='http://localhost:8100/'>Volver a home</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
   
  <div class="img-tab2" class="fondo">
    <img class="centrado" src="\assets\icon\05-512.png" width="250" lang="250" ><br><h1>
   MAPS</h1><br>
   tenga en cuenta que el administrador revisara su solicitud y dentro de las siguientes 24 horas le confirmara<br><br>
   <ion-input plasceholder= "text"><ion-icon name="at"></ion-icon>CORREO</ion-input>

   <ion-input plasceholder= "text">
    <ion-icon name="contacts"></ion-icon>USUARIO
    </ion-input>

   <ion-input type="password">
     <ion-icon name="finger-print" ></ion-icon>
    CONTRASENA
   </ion-input>
   
   <ion-input type="password">
    <ion-icon name="finger-print"></ion-icon>
    REPITA CONTRASENA
   </ion-input>  


   <ion-button routerLink="/home/tabs/tab3"> REGISTRAR</ion-button>

   
  </div>








</ion-content>
